[submodule "public/strappy/ccl"]
	path = public/strappy/ccl
	url = git@github.com:melechi/strappy-CCL.git
[submodule "public/strappy/framework"]
	path = public/strappy/framework
	url = git@github.com:SpinifexGroup/strappy.git
[submodule "public/strappy/foo"]
	path = public/strappy/foo
	url = git@github.com:SpinifexGroup/strappy.git
[submodule "public/strappy/lib"]
	path = public/strappy/lib
	url = git@github.com:SpinifexGroup/strappy.git
